@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display");


body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6;
  border-color: black;
  border-style: solid;
  box-shadow: 5px 10px #888888;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.pict {
    width: 100px;
    height: 100px;
}
.caption {
    display: block;
}

.container{
    margin: 5em 5em 5em 5em;
}
		/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    transition: 0.4s;
    font: 30px ;
    font-family: 'Work Sans', sans-serif;
    margin-right: 0px;
    border-color: white;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: white;
    color: black;

}

/* Style the accordion panel. Note: hidden by default */
.panel {
    width: 80%;
    padding: 0 18px;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.2s ease-out;
}


.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#header{
font-size: 50px;
text-align: left;
color: black;
line-height:0;
}

ul#ul_accordion{
    list-style: none;
}
ul#ul_accordion li:not(:last-child) {
    margin-bottom: 5px;
}

ul#juke img{
width: 100px;
height:100px;
-webkit-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
}

ul#juke li{
  display:inline;
  list-style:none;
  text-align: center;
  margin-left: 4em;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  color: white;
}

.myButton {
	background-color:#000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:10px;
	padding:7px 22px;
}
.myButton:hover {
	background-color:#ffffff;
	color: black;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media (max-width:500px){
    ul#juke li{
        display: vertical;
       list-style:none;
       margin-left: 0;
    }
     .container{
         margin: 3em 3em 3em 3em;

    }
    #header{
    font-size: 35px;
    }

}

