{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <!-- To ensure proper rendering and touch zooming in Mobile Phones -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">

<ul class="ul_accordion" style="list-style: none;">
    <li>
        <a onclick="up()" class="myButton">u</a> <a onclick="down()" class="myButton">d</a>

        <!--        <button  onclick="up()" type="button" class="up_button">up</button> <button onclick="down()" type="button" class="down_button">down</button>-->
        <button class="accordion">ABOUT ME</button>
        <div class="panel">
            <p>Hello, my name is Nikita Jacey, I’m a student that currently enrolled at the University of Indonesia majoring in System Information class of 2023.
            </p>
        </div>

    </li>
    <li>
        <a onclick="up()" class="myButton">u</a> <a onclick="down()" class="myButton">d</a>

        <button class="accordion">EXPERIENCES</button>
        <div class="panel">
            <p>I have a lot of interest on creative field especially in design. I can operate Adobe Photoshop and sometimes Adobe Illustrator.
            Some of my experiences in college:
            member of Campaign Division in PEMIRA Fasilkom UI 2019, member of Futsal Planner in PERAK Fasilkom UI 2020, and HRD of DNC COMPFEST 12.</p>
        </div>
    </li>
        <li>
            <a onclick="up()" class="myButton">u</a> <a onclick="down()" class="myButton">d</a>
            <button class="accordion">CONTACT</button>
        <div class="panel">
            <p>You can contact me through email: Nikita17jacey@gmail.com.</p>
        </div>
        </li>
    <li>
        <a onclick="up()" class="myButton">u</a> <a onclick="down()" class="myButton">d</a>

        <button class="accordion">JUKE BOX</button>
        <div class="panel" style="padding: 0 0;">

        <ul id="juke">
            <li></li>
                <li><a href="https://open.spotify.com/track/7kQkmyoHCEqwe7QwDbkSXM" target="_blank"><img src="{% static 'finneas.jpg' %}"></a></li>
                <li><a href="https://open.spotify.com/track/09bEFRkwyd648AXubqQxir" target="_blank"><img src="{% static 'summumbonum.jpg' %}"></a> </li>
                <li><a href="https://open.spotify.com/track/1dMmkgiggnLUnlvRKZoBWG" target="_blank"><img src="{% static 'utha.jpg' %}"></a> </li>
                <li><a href="https://open.spotify.com/track/3AJwUDP919kvQ9QcozQPxg" target="_blank"><img src="{% static 'yellow.jpg' %}"></li></a>
                follow me on Spotify: nktjcy
        </ul>
            <br>
        </div>
    </li>
</ul>
    <br>
    <section id="header">
        <h1><b>U: Up</b></h1>
        <h1><b>D: Down</b></h1>
    </section>
    <p><i>Story 8</i> &copy; 2020 Nikita Jacey.<p>
    <h4><a href="{% url 'story9:Index' %}"> >Story 9 </a></h4>

</div>


<script type="text/javascript">
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var panel = this.nextElementSibling;
		    if (panel.style.maxHeight){
		      panel.style.maxHeight = null;
		    } else {
		      panel.style.maxHeight = panel.scrollHeight + "px";
		    }
		  });
		}

		function up(){
		var list = document.querySelector(".ul_accordion");
            list.insertBefore(event.currentTarget.parentNode,(event.currentTarget.parentNode).previousElementSibling);
            }

        function down(){
        var list = document.querySelector(".ul_accordion");
            list.insertBefore((event.currentTarget.parentNode).nextElementSibling,event.currentTarget.parentNode);
        }
</script>
</body>
</html>