@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display");

body{
  margin: 1em 1em 1em 1em;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  background-color:rgba(238, 255, 13, 0.5);

}
.container{
    width: 350px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px 25px 25px 25px;
    overflow: scroll;
    background-color: white;
    -webkit-box-shadow: 9px 9px 21px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 21px -8px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 21px -8px rgba(0,0,0,0.75);
}

.card-header{
    position: relative;
    height:200px;
    background-color: black;
    border-radius: 25px 25px 0 0;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    line-height:0.6;
}
#before{
    text-align: center;
}
.card-body{
    padding-top:2em;
}

#id{
    font-size: 6px;
}

img{
width:18vh
-webkit-box-shadow: 6px 6px 24px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 24px -10px rgba(0,0,0,0.75);
box-shadow: 6px 6px 24px -10px rgba(0,0,0,0.75);
}

#show {
 	box-shadow: 4px 4px 5px -1px #a0a0a0;
 	background-color: #efff0d;
 	border-radius:27px;
 	display:inline-block;
 	cursor:pointer;
 	color: black;
 	font-size:12px;
 	padding:12px 12px;
 	text-decoration:none;
 }
 #show:hover {
 	background-color:black;
 	color: white;
 }
 #show:active {
 	position:relative;
 	top: 1px;
 	color:black;
 }

#result{
list-style: none;
text-align: center;
padding-left: auto;
padding-center:auto;
padding-inline-start: 0px;
line-height:1;

}
.myButton {
	background-color:#000000;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 10px;
	text-decoration:none;
}
.myButton:hover {
	background-color:rgba(238, 255, 13, 0.3);
	color: black;
}
.myButton:active {
	position:relative;
	top:1px;
}


