{% load static %}
<html lang="en">
<head>
    <title>BOOOOOKS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'story9.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'top5.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script>
      const addLike_url = "{% url 'story9:addLike_url' %}";

      const top5_url = "{% url 'story9:top5_url' %}";
    </script>
</head>
<body>


<div class="container">
    <div class="card-header">
        <p style="text-align: center;"><i>Story 9</i> &copy; 2020 Nikita Jacey.</p>
    <h4><a href="{% url 'message:Index' %}">< back</a></h4>
    <div class ="input-class">
        <h1>SEARCH</h1>
        <h1>BOOKS</h1>
            <input id="keyword" type="type" placeholder="Search...">
            <button type="submit" id="submit">search</button>
    </div>
        <br>
        <a id="show">Show Top 5 Books</a>

    </div>

    <div class="card-body">
        <div id="top5"> </div>

        <div id="before" style="font-weight: bold;">
            Search your books here!
        </div>
        <ul id="result"></ul>
    </div>
    </div>
<script src="{% static 'jquery-3.5.0.min.js' %}"></script>
<script src="{% static 'story9.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


</body>
</html>